header{ background-image: url(../images/topbg.jpg); background-position: center top; background-size:cover;
    .logo-phone{
        .logo{ float: left;}
        .phone{ float: right;
            a{font: 600 42px/42px 'Open Sans'; color: #86bf52; text-decoration: none;}
        }
    }
    .title{font: 300 22px/22px 'Open Sans'; color: #fff; text-align: center;
        h1{font: 300 60px/60px 'Open Sans';}
    }
    .content{}
    .container{font: 300 14px/18px 'Open Sans'; color: #fff; position: relative;
        ul{max-width: 195px; width: 100%; float: left;
            &:first-child{
                li{
                    &:first-child:before{ background-image: url(../images/z01.png); width: 36px; height: 36px;}
                    &:nth-child(2):before{background-image: url(../images/z02.png); width: 36px; height: 29px;}
                    &:last-child:before{background-image: url(../images/z03.png); width: 17px; height: 36px;}
                }
            }
            &:nth-child(2){max-width: 185px;
                li{
                    &:first-child:before{background-image: url(../images/z04.png); width: 28px; height: 35px;}
                    &:nth-child(2):before{background-image: url(../images/z05.png); width: 36px; height: 36px;}
                    &:last-child:before{background-image: url(../images/z06.png); width: 36px; height: 38px;}
                }
            }
        }
        li{ position: relative;list-style-type: none;
            &:before{content: ''; display: block; position: absolute; top: 0; left: 0; background-position: left top; background-repeat: no-repeat;}
        }
        .img{ float: left; position: relative;
            .new-item{ position: absolute;font: 300 16px/20px 'Open Sans'; color: #fff; text-align: center; width: 109px; height: 24px; transform:rotate(90deg); background-color: #ff4a00; text-transform: uppercase;}
        }
        .way{ height: 1px; width: 468px; background-color: #fff; position: absolute;
            &:before,
            &:after{content: ''; position: absolute; display: block; background-color: #fff;}
            &:before{ width: 145px; height: 1px;}
            &:after{ width: 7px; height: 7px; border-radius: 50%; }

        }
    }
    .button-row{ width: 100px;
        a{font: 700 16px/20px 'Open Sans'; color: #fff; background-color: #ff4a00; width: 270px; height: 53px; display: block; margin:0 auto; text-decoration: none;}
    }
}