.global-wrapper{overflow:hidden;}
.third-block{ max-width: 100%; min-height: 715px; background-color: #f5f7f8;
	.mbox{overflow: hidden;background: url('../../images/third-block-background.jpg') no-repeat; position: relative;background-size: cover; background-position: 50% 0%;
		.slider-vraper{ overflow: hidden; width: 100%;
			.slide{padding: 45px 0px 0px 60px;position: relative; display: inline-block; min-width: 1150px;
				.upper-block{ max-width: 470px; min-height: 175px; border: 10px solid #fff;padding: 29px 0px 0px 30px;
					.up-block-header{font: 700  18px/1.2 'Open Sans'; text-transform: uppercase;
						
					}
					.up-block-content{padding: 10px 0px 0px 0px;font: 200 14px/1.7 'Open Sans'; 
						
					}
				}
				.central-circle{ background: url('../../images/third-block-circle.png') no-repeat; background-size: cover; max-width: 370px; min-height: 385px; border: 6px solid #2d5daa; border-radius: 50%; position: relative; z-index: 1; margin: 0 auto; top: -60px; left: -10px;font: 200 14px/1.5 'Open Sans'; 
					.pointer-1{position: absolute;top: 115px; left: -320px;
						&:after{content: ''; width: 80px; height: 1px; background-color: #f96326; display: block; position: absolute; left: 315px; top: 10px;
						}
						.point{content: ''; width: 5px; height: 5px; background-color: #F96326; display: block; position: absolute; border-radius: 50%; left: 395px; top: 8px;} 
					}
					.pointer-2{position: absolute;top: 200px; left: -355px;
						&:after{content: ''; width: 50px; height: 1px; background-color: #f96326; display: block; position: absolute; left: 345px; top: 10px;
						}
						.point{ width: 5px; height: 5px; background-color: #F96326; position: absolute; border-radius: 50%; left: 395px; top: 8px;} 
					}
					.pointer-3{position: absolute;top: 115px; left: 390px;min-width: 180px;
						&:after{content: ''; width: 100px; height: 1px; background-color: #f96326; display: block; position: absolute; left: -110px; top: 10px;
						}
						.point{ width: 5px; height: 5px; background-color: #F96326; position: absolute; border-radius: 50%; left: -110px; top: 8px;} 
					}
					.pointer-4{position: absolute;top: 200px; left: 415px;min-width: 180px;
						&:after{content: ''; width: 100px; height: 1px; background-color: #f96326; display: block; position: absolute; left: -110px; top: 10px;
						}
						.point{ width: 5px; height: 5px; background-color: #F96326; position: absolute; border-radius: 50%; left: -110px; top: 8px;} 	
					}
					.pointer-5{position: absolute;top: 285px; left: 415px;min-width: 150px;
						&:after{content: ''; width: 100px; height: 1px; background-color: #f96326; display: block; position: absolute; left: -120px; top: 10px;
						}
						.point{ width: 5px; height: 5px; background-color: #F96326; position: absolute; border-radius: 50%; left: -120px; top: 8px;} 	
					}
					.active-point:hover{ cursor: pointer;
						.point{
							&:before{
								content: ''; width: 35px; height: 35px; background: radial-gradient(center, rgba(235,235,235,0.1) 30% , rgba(249,99,38,1) 90%); display: block; position: absolute; border-radius: 50%; left: -15px; top: -15px;
							}
						}
					}
				}
			}
			
		}
		.slick-dots{ display: flex; justify-content: center; height: 85px;align-items: center; bottom: -50px;
				.slick-active{
					button{
						&:before{width: 12px; height: 12px;background-color: #f26122; border-radius: 50%; border: 1px solid transparent;
						}
					}
				}
				li{
					
					&:focus{ 
						button{
							&:before{width: 12px; height: 12px;background-color: #f26122; border-radius: 50%; border: 1px solid transparent;}
						}
					}		
					&:hover{ 
						button{
							&:before{width: 12px; height: 12px;background-color: #f26122; border-radius: 50%; border: 1px solid transparent;}
						}
					}		
					button{
						&:before{content: '';width: 8px; height: 8px;background-color: #b3c0c6;border-radius: 50%; border: 6px solid transparent; padding: 0px; opacity: 1;top:25%;
						left:25%;
	
						}
					}
				}	
				
			}
			.slick-arrow{width: 30px; height: 30px; border: 5px solid #d4dbdf; background-color: transparent; border-top: none; border-left: none;
				&:before{content: '';}
			}
			.slick-prev{  transform: rotate(135deg);position: absolute;left: 30px; top: 56%; z-index: 2;
				
			}
			.slick-next{transform: rotate(-45deg);  position: absolute;right: 60px; top: 56%;z-index: 2;}
	}
}

//block scroll
#header{
	.mbox{ position: relative; 
		.block-scroll{position: fixed;top: 25%; right: 20px; font-size: 14px;font-family: 'Open Sans'; font-weight: 300; z-index: 10000;
			ul{ list-style: none;
				li{width: 13px; height: 13px; margin: 0px 0px 20px 0px; 
					&:first-child{
						.visible{border: 3px solid #f56329; padding: 0px; min-width: 16px; min-height: 15px; background-color: transparent;margin: 0px;}
						a{
							p{color: #f56329; text-transform: uppercase;top: -17px;
							}
						}
					}
					
					a{display: block;  padding:0px;  border-radius: 50%; background-color: #d2c1b9;margin: 2px 0px 0px 1px;	position: relative; transition: all 0.2s;padding: 0px; min-width: 13px; min-height: 12px; border: 3px solid transparent; 
						
						p{position: absolute; color:#acb9c1; min-width: 230px; top: -17px; text-align: right; left: -240px; display: none; z-index: 10000;
							
						} 

						&:hover{ padding: 6px; background-color: #fff; border: none; margin: 0px 0px 0px 1px;	
							p{display: block;}
						}
						// &:visited{ padding: 0px; border: 2px solid #ff4a00; min-width: 5px; max-width: 5px; background-color: transparent; }
					}
					.visible{padding: 0px; min-width: 16px; min-height: 15px; border: 3px solid #b7c2c9; background-color: transparent;margin: 0px;
						p{display:block;
						}
					}
				}
			}
		}
	}
}

//pop-up
.complectation{font-family: 'Open Sans'; display: flex; flex-wrap: wrap; max-width: 70%; overflow: hidden; margin: 0 auto;justify-content: space-around;
	.complectation-header{ font-size: 48px; width: 100%;  
		h2{margin: 10px; text-align: center; font-weight: 300;
		}
	}
	.conplectation-under-header{ font-size: 20px; width: 100%;
		h3{text-align: center; font-weight: 300;
		}
	}
	.right-block{width: 40%; padding: 0px 0px 0px 0px;
		img{display: block; float: right;}
	}
	.bottomSumm{min-width: 100%; display: flex; justify-content: center; position: relative; left: 200px;padding: 30px 0px;
		span{font-size: 17px; line-height: 55px; padding: 0 20px; }
		.summ{ min-width: 270px; min-height: 55px; background-color: #ff4a00; text-align: center; font-size: 36px; border-bottom: 6px solid #d43e00; line-height: 55px; vertical-align: middle; color: #fff;}
	}
	.left-block{ max-width: 50%; padding: 0px 0px 0px 0px;
		input[type="checkbox"]{display: none;
		
		}
			
		#price1:checked{&~.prices{label{&:nth-child(1){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price2:checked{&~.prices{label{&:nth-child(2){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price3:checked{&~.prices{label{&:nth-child(3){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price4:checked{&~.prices{label{&:nth-child(4){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price5:checked{&~.prices{label{&:nth-child(5){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price6:checked{&~.prices{label{&:nth-child(6){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price7:checked{&~.prices{label{&:nth-child(7){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price8:checked{&~.prices{label{&:nth-child(8){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price9:checked{&~.prices{label{&:nth-child(9){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price10:checked{&~.prices{label{&:nth-child(10){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}
		#price11:checked{&~.prices{label{&:nth-child(11){.price{color:#b1b1b1;}div{span{&:after{display: block;}}}}}}}

		.prices{display:flex; flex-wrap: wrap;
			label{line-height:20px; font-size: 17px; vertical-align: top; width: 100%; display: flex; justify-content: space-between; align-text: left; margin-bottom: 5px;
				.complectation-name{ vertical-align: top;line-height:25px; font-weight: 300; 
					span{min-width: 20px;border-radius: 2px; height: 20px;border: 1px solid #b7b7b7; display: inline-block; margin: 0px 10px 0px 0px; position: relative;top: 2px;
						&:after{border-radius: 2px;content: ''; min-width: 20px; min-height: 10px; background-color: transparent; border: 3px solid #a1d060; transform: rotate(135deg); border-left: none; border-bottom: none; position: absolute; top: -2px; left:3px;display: none;
							
						}
						
					 }
				}

				.price{ display: inline-block; color: #d8d8d8; position: relative; top: 7px;
						img{margin: 0px 10px 5px 0px;}
					}
			}
		}
	}
}