<section class="eight chekingItem" id="eight">
    <div class="conteiner">
        <div class="mbox">
            <div class="title-text">
                <h2>Часто задаваемые вопросы</h2>
            </div>
            <div class="after-title">
                <p>Подзаголовок ниже основного заголовка, что бы смотрелся хорошо и сообщал информацию</p>
            </div>
            <div class="tabs-block">
                <ul>
                    <li >
                        <span class="active">Как работает этот прибор?</span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus. Repellat unde a adipisci
                            maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur at tempora optio dolores
                            eligendi facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus.
                            Repellat unde a adipisci maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur
                            at tempora optio dolores eligendi facilis.</p>
                    </li>
                    <li>
                        <span>Где я могу его купить?</span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus. Repellat unde a adipisci
                            maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur at tempora optio dolores
                            eligendi facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus.
                            Repellat unde a adipisci maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur
                            at tempora optio dolores eligendi facilis.</p>
                    </li>
                    <li>
                        <span>Сколько держит батарея?</span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus. Repellat unde a adipisci
                            maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur at tempora optio dolores
                            eligendi facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus.
                            Repellat unde a adipisci maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur
                            at tempora optio dolores eligendi facilis.</p>
                    </li>
                    <li>
                        <span>Как работает этот прибор?</span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus. Repellat unde a adipisci
                            maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur at tempora optio dolores
                            eligendi facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus.
                            Repellat unde a adipisci maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur
                            at tempora optio dolores eligendi facilis.</p>
                    </li>
                    <li>
                        <span>Где я могу его купить?</span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus. Repellat unde a adipisci
                            maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur at tempora optio dolores
                            eligendi facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus.
                            Repellat unde a adipisci maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur
                            at tempora optio dolores eligendi facilis.</p>
                    </li>
                    <li>
                        <span>Сколько держит батарея?</span>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus. Repellat unde a adipisci
                            maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur at tempora optio dolores
                            eligendi facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, necessitatibus.
                            Repellat unde a adipisci maiores optio perferendis ratione sed provident nobis eaque. Ut, tenetur
                            at tempora optio dolores eligendi facilis.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>