<section class="five" id="five">
    <div class="mbox">
        <div class="left"><img src="images/f-item.png" alt=""></div>
        <div class="right">
            <div class="title">
                <h2>Контроллер</h2>
                <p>Подзаголовок ниже основного заголовка, что бы смотрелся хорошо</p>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <p><b>Экран:</b>3,5 дюйма</p>
                    </li>
                    <li>
                        <p><b>Операционная система:</b>Windows Mobile 6.5</p>
                    </li>
                    <li>
                        <p><b>Память:</b>8 ГБ с возможностью расширения до 40</p>
                    </li>
                    <li>
                        <p><b>Встроенная камера: </b>5 мп</p>
                    </li>
                    <li>
                        <p><b>Функции: </b>электронный компас, высотомер, гироскоп, считыватель RFID меток</p>
                    </li>
                    <li>
                        <p><b>Корпус: </b>водонепроницаемый (глубина до 1 м),  пыле и влагозащищённый, устойчивый к   вибрациям и падениям</p>
                    </li>
                    <li>
                        <p><b>Рабочие температуры: </b>-30 +60С</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>














