<section class="five chekingItem" id="five">
    <div class="mbox">
        <div class="left"><img src="images/f-item.png" alt=""></div>
        <div class="right">
            <div class="title">
                <h2>Контроллер</h2>    
            </div>
            <div class="content ctext">
                    <p>Подзаголовок ниже основного заголовка, что бы смотрелся хорошо
                    </p>
                <ul>

                    <li>
                        <span><img src="images/f01.png"></span><p><b>Экран:</b>3,5 дюйма</p>
                    </li>
                    <li>
                        <span><img src="images/f02.png"></span><p><b>Операционная система:</b>Windows Mobile 6.5</p>
                    </li>
                    <li>
                        <span><img src="images/f03.png"></span><p><b>Память:</b>8 ГБ с возможностью расширения до 40</p>
                    </li>
                    <li>
                        <span><img src="images/f04.png"></span><p><b>Встроенная камера: </b>5 мп</p>
                    </li>
                    <li>
                        <span><img src="images/f05.png"></span><p><b>Функции: </b>электронный компас, высотомер, гироскоп, считыватель RFID меток</p>
                    </li>
                    <li>
                        <span><img src="images/f06.png"></span><p><b>Корпус: </b>водонепроницаемый (глубина до 1 м),  пыле и влагозащищённый, устойчивый к   вибрациям и падениям</p>
                    </li>
                    <li>
                        <span><img src="images/f07.png"></span><p><b>Рабочие температуры: </b>-30 +60С</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>














