<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="content">
        <div class="left">
            <div class="title">
                <h2>Где купить</h2>
            </div>
            <div class="select">
                <select>
                    <option value="moskow">Москва</option>
                    <option value="kyiv">Киев</option>
                </select>
            </div>
            <ul id="moskow" class="active">
                <li>Ул. Делитантов, 45/3
                    ТЦ “Центральный”</li>
                <li>проспект Пушкина, 44, оф. 7
                    БЦ “Карлсон”</li>
                <li class="active">Ул. Делитантов, 45/3
                    ТЦ “Центральный”</li>
                <li>проспект Пушкина, 44, оф. 7
                    БЦ “Карлсон”</li>
                <li>проспект Пушкина, 44, оф. 7
                    БЦ “Карлсон”</li>
                <li>Ул. Делитантов, 45/3
                    ТЦ “Центральный”</li>
                <li>проспект Пушкина, 44, оф. 7
                    БЦ “Карлсон”</li>
            </ul>
            <ul id="kyiv">
                <li>Ул. Делитантов, 45/3
                    ТЦ “Центральный”</li>
                <li>проспект Пушкина, 44, оф. 7
                    БЦ “Карлсон”</li>
                <li>Ул. Делитантов, 45/3
                    ТЦ “Центральный”</li>

            </ul>
        </div>
        <div class="right"><div id="map"></div></div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>



<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
