<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="content">
        <div class="left">
            <div class="title">
                <h2>Где купить</h2>
            </div>
            <div class="select-wrap">
                <select>
                    <option value="moskow" data-corX="55.751625" data-corY="37.620875">Москва</option>
                    <option value="kyiv" data-corX="50.450719" data-corY="30.523005">Киев</option>
                    <option value="minsk" data-corX="53.904315" data-corY="27.560407">Минск</option>
                </select>
            </div>
            <ul id="moskow" class="active list">
                <li data-corX="55.769188" data-corY="37.565339" ><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>
                <li data-corX="55.764532" data-corY="37.615523"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>
                <li data-corX="55.736723" data-corY="37.626515"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>
                <li data-corX="55.738991" data-corY="37.600500"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>
                <li data-corX="55.750524" data-corY="37.635379"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>
            </ul>
            <ul id="kyiv" class="list">
                <li data-corX="50.464261" data-corY="30.442681"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>
                <li data-corX="50.440026" data-corY="30.640830"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>

            </ul>
            <ul id="minsk" class="list">
                <li data-corX="53.899051" data-corY="27.531340"><div class="adres">Ул. Делитантов, 45/3 ТЦ “Центральный”</div>
                    <div class="phone">+3(000) 12 34 567</div></li>


            </ul>
        </div>
        <div class="right"><div id="map"></div></div>

    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>



<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
