<!-- HEADER -->
<header id="header" class="chekingItem">
    <div class="mbox">
        <div class="logo-phone cfix">
            <div class="logo"><img src="images/logo.png" alt=""></div>
            <div class="phone"><a href="tel:7(095)7555775">+7 095 755 57 75</a></div>
        </div>
        <div class="title">
            <h1>Геодезический комплект GEON G2</h1>
            <p>База, ровер, контроллер, ПО. Работа в любых климатических и погодных условиях</p>
        </div>
        <div class="content">
            <div class="container cfix">
                <ul>
                    <li>Trimble Maxwell 6
                        Custom Survey GNSS</li>
                    <li>1,2 кг (с батареей,
                        радио и УКВ антенной)</li>
                    <li>-45 +65C</li>
                </ul>
                <ul>
                    <li>4 Гб</li>
                    <li>184 x 184 x 96 мм</li>
                    <li>GPS, ГЛОНАСС,
                        Galileo, Beidou</li>
                </ul>
                <div class="img"><img src="images/item.png" alt=""><div class="new-item">новинка</div></div>
                <div class="way"></div>
            </div>

        </div>
        <div class="button-row"><a href="#call-popup" class="fancybox-form"><span>Выбрать комплектацию</span></a></div>
       
        <div class="block-scroll header-menu">
            <ul>
              <li><a href="#header" class="visible"><p>Описание</p></a></li>  
              <li><a href="#second-block"><p>Приборная панель</p></a></li>  
              <li><a href="#third-block"><p>База/Ровер</p></a></li>  
              <li><a href="#four"><p>Характеристики</p></a></li>  
              <li><a href="#five"><p>Контроллер</p></a></li>
              <li><a href="#six"><p>Удобное полевое ПО</p></a></li>  
              <li><a href="#seven"><p>Комплект 1 "Независимый"</p></a></li>  
              <li><a href="#eight"><p>Частозадаваемые вопросы</p></a></li>  
            </ul>
        </div>
       
       <!--  <div class="complectation">
            <div class="complectation-header"><h2>Выбор комплектации</h2></div>
            <div class="conplectation-under-header"><h3>Подзаголовок ниже основного заголовка, что бы смотрелся хорошо и сообщал информацию</h3></div>  
            
            <div class="left-block">
                
            <input type="checkbox" id="price1">
            <input type="checkbox" id="price2">
            <input type="checkbox" id="price3">
            <input type="checkbox" id="price4">
            <input type="checkbox" id="price5">
            <input type="checkbox" id="price6">
            <input type="checkbox" id="price7">
            <input type="checkbox" id="price8">
            <input type="checkbox" id="price9">
            <input type="checkbox" id="price10">
            <input type="checkbox" id="price11">
             
             <div class="prices"> 
                <label for="price1"><div class="complectation-name"><span></span>Батарея</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price2"><div class="complectation-name"><span></span>Зарядное устройство</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price3"><div class="complectation-name"><span></span>Адаптер для зарядного устройства</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
               <label for="price4"> <div class="complectation-name"><span></span>Антена GPRS/GSM</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
               <label for="price5"><div class="complectation-name"><span></span>Антена УКВ</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price6"><div class="complectation-name"><span></span>Миниадаптер 5/8</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price7"><div class="complectation-name"><span></span>Трегер</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price8"><div class="complectation-name"><span></span>Адаптер трегера</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price9"><div class="complectation-name"><span></span>Веха(30см)</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price10"><div class="complectation-name"><span></span> Рулетка(3м)</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
                <label for="price11"><div class="complectation-name"><span></span>Транспортировочный кейс(пластик)</div><div class="price"><img src="../images/cross.png"><span>2500</span></div></label>
            </div>
            </div>
            <div class="right-block">
                <div class="popUpImage"><img src="../images/imageForPopUp.jpg"></div>
            </div>
            <div class="bottomSumm">
                    <span>Итого</span>
                    <div class="summ"></div>
            </div> -->
        
    </div>
</header>
<!-- /HEADER -->

