<section class="second-block" id="second-block">
	<div class="mbox">
		<div class="title">
			<h2>Приборная панель</h2>
		</div>
		<div class="img">
			<img src="images/secondBG.png" alt="">
			<ul>
				<li>Индикатор состояния («STA»)<div class="way"></div></li>
				<li>Индикатор Bluetooth («BT»)<div class="way"></div></li>
				<li>Индикатор встроенного источника
					питания («BATT»)<div class="way"></div></li>
				<li>Функциональная кнопка («F»)<div class="way"></div></li>
				<li>Кнопка включения/
					выключения («I»)<div class="way"></div></li>
				<li>Индикатор канала связи («DL»)<div class="way"></div></li>
				<li>Индикатор приёма сигнала со спутников («GNSS»)<div class="way"></div></li>
				<li>Индикатор внешнего источника
					питания («POW»)<div class="way"></div></li>
			</ul>
		</div>
	</div>	
</section>