<section class="seven" id="seven">
    <div class="mbox">
        <div class="title">
            <h2>Комплект 1 “Независимый”</h2>
        </div>
        <div class="content">
            <div class="infos-wrap">
                <div class="info active">
                    <div class="left"><img src="images/seven01.png" alt=""></div>
                    <div class="right">
                        <ul>
                            <li><div class="way"></div><p>2<i></i>Батарея</p></li>
                            <li><div class="way"></div><p>1<i></i>Зарядное устройство</p></li>
                            <li><div class="way"></div><p>1<i></i>Адаптер для зарядного устройства</p></li>
                            <li><div class="way"></div><p>1<i></i>Антенна GPRS/GSM</p></li>
                            <li><div class="way"></div><p>1<i></i>Антенна УКВ</p></li>
                            <li><div class="way"></div><p>1<i></i>Миниадаптер 5/8</p></li>
                            <li><div class="way"></div><p>1<i></i>Трегер</p></li>
                            <li><div class="way"></div><p>1<i></i>Адаптер трегера</p></li>
                            <li><div class="way"></div><p>1<i></i>Веха (30 см)</p></li>
                            <li><div class="way"></div><p>1<i></i>Рулетка (3 м)</p></li>
                            <li><div class="way"></div><p>1<i></i>Транспортировочный кейс (пластик)</p></li>
                        </ul>
                        <div class="price"><p><b>294 500</b> руб.</p></div>
                    </div>
                </div>
                <div class="info">
                    <div class="left"><img src="images/seven01.png" alt=""></div>
                    <div class="right">
                        <ul>
                            <li><div class="way"></div><p>2<i></i>Батарея</p></li>
                            <li><div class="way"></div><p>1<i></i>Зарядное устройство</p></li>
                            <li><div class="way"></div><p>1<i></i>Адаптер для зарядного устройства</p></li>
                            <li><div class="way"></div><p>1<i></i>Антенна GPRS/GSM</p></li>
                            <li><div class="way"></div><p>1<i></i>Антенна УКВ</p></li>
                            <li><div class="way"></div><p>1<i></i>Миниадаптер 5/8</p></li>
                            <li><div class="way"></div><p>1<i></i>Трегер</p></li>
                            <li><div class="way"></div><p>1<i></i>Адаптер трегера</p></li>
                            <li><div class="way"></div><p>1<i></i>Веха (30 см)</p></li>
                            <li><div class="way"></div><p>1<i></i>Рулетка (3 м)</p></li>
                            <li><div class="way"></div><p>1<i></i>Транспортировочный кейс (пластик)</p></li>
                        </ul>
                        <div class="price"><p><b>222 section</b> руб.</p></div>
                    </div>
                </div>
                <div class="info">
                    <div class="left"><img src="images/seven01.png" alt=""></div>
                    <div class="right">
                        <ul>
                            <li><div class="way"></div><p>2<i></i>Батарея</p></li>
                            <li><div class="way"></div><p>1<i></i>Зарядное устройство</p></li>
                            <li><div class="way"></div><p>1<i></i>Адаптер для зарядного устройства</p></li>
                            <li><div class="way"></div><p>1<i></i>Антенна GPRS/GSM</p></li>
                            <li><div class="way"></div><p>1<i></i>Антенна УКВ</p></li>
                            <li><div class="way"></div><p>1<i></i>Миниадаптер 5/8</p></li>
                            <li><div class="way"></div><p>1<i></i>Трегер</p></li>
                            <li><div class="way"></div><p>1<i></i>Адаптер трегера</p></li>
                            <li><div class="way"></div><p>1<i></i>Веха (30 см)</p></li>
                            <li><div class="way"></div><p>1<i></i>Рулетка (3 м)</p></li>
                            <li><div class="way"></div><p>1<i></i>Транспортировочный кейс (пластик)</p></li>
                        </ul>
                        <div class="price"><p><b>3 section</b> руб.</p></div>
                    </div>
                </div>
            </div>

            <div class="tabs-wrap">
                <div class="tab active">
                    <p><b>Независимый</b></p>
                    <p>(база+ровер)</p>
                </div>
                <div class="tab">
                    <p><b>Расчётливый</b></p>
                    <p>(база)</p>
                </div>
                <div class="tab">
                    <p><b>Экономный</b></p>
                    <p>(ровер)</p>
                </div>
            </div>
            <div class="arrows-wrap">
                <div class="prev arrow"></div>
                <div class="next arrow"></div>
            </div>
        </div>
    </div>
</section>











