<section class="six chekingItem" id="six">
    <div class="mbox">
        <div class="title">
            <h2>Удобное полевое ПО</h2>
        </div>
        <div class="slick-slider-six">
            <div class="row">
                <div class="item">
                    <div class="img"><img src="images/s04.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/s03.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/s04.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/s01.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="img"><img src="images/s04.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/s03.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/s04.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/s01.jpg" alt=""></div>
                    <div class="txt"><p>Подпись под фотографией
                        с какой-нибудь информацией</p></div>
                </div>
            </div>


        </div>
    </div>
</section>