<section class="third-block" id="third-block">
    <div class="mbox">
		<div class="slider-vraper">
			<div class="slide">
				<div class="upper-block">
					<div class="up-block-header">База/ровер</div>
					<div class="up-block-content">220 каналов. Прием сигналов GPS, ГЛОНАСС, Galileo. <br> Обмен данными по 3G/CSD. <br> 
					Режимы “Статика”, “Кинематика”, RTK
					</div>	
				</div>
				<div class="central-circle">
					<div class="pointer-1 active-point">Порт для подключения GSM/GPRS-антенны <div class="point"></div></div>
					<div class="pointer-2 active-point">Порт для подключения внешнего радиомодема <br>
					Позволяет подключать любые типы модемов <div class="point"></div>
					</div>

					<div class="pointer-3 active-point">Порт для подключения  
					радио-антенны <div class="point"></div>
					</div>
					<div class="pointer-4 active-point">Порт передачи данных<div class="point"></div>
					</div>
					<div class="pointer-5 active-point">Отсек для батареи<div class="point"></div>
					</div>		
				</div>

			</div>
			<div class="slider">
				
			</div>
			<div class="slider">
				
			</div>
			<div class="indicators">
				<div class="indicator activ-indicator"></div>
				<div class="indicator activ-indicator"></div>
				<div class="indicator activ-indicator"></div>
				<div class="indicator activ-indicator"></div>
			</div>
			<div class="arrow-left"></div>
			<div class="arrow-right"></div>
		</div>
    </div>
</section>